<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Registro #<%= registro.id %></title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div id="main-container">
        
        <h1>Editar Registro de Lubricación #<%= registro.id %></h1>

        <div id="form-container">
            
            <form action="/bitacora/update/<%= registro.id %>" method="POST">
                
                <div class="input-group">
                    <label for="equipo">Componente:</label>
                    <input type="text" id="equipo" name="equipo" value="<%= registro.equipo %>" required>
                </div>

                <div class="input-group">
                    <label for="tipo_lubricante">Tipo del Lubricante:</label>
                    <input type="text" id="tipo_lubricante" name="tipo_lubricante" value="<%= registro.tipo_lubricante %>" required>
                </div>

                <div class="input-group">
                    <label for="fecha">Fecha del Cambio:</label>
                    <input type="date" id="fecha" name="fecha" 
                        value="<%= registro.fecha.toISOString().split('T')[0] %>" required>
                </div>

                <div class="input-group">
                    <label for="cantidad_utilizada">Cantidad Utilizada (Lts):</label>
                    <input type="number" step="0.01" id="cantidad_utilizada" name="cantidad_utilizada" value="<%= registro.cantidad_utilizada %>" required>
                </div>

                <div class="input-group">
                    <label for="analisis">Muestra para Análisis:</label>
                    <select id="analisis" name="analisis" required>
                        <option value="1" <%= registro.analisis ? 'selected' : '' %>>Sí</option>
                        <option value="0" <%= registro.analisis ? '' : 'selected' %>>No</option>
                    </select>
                </div>

                <div class="input-group">
                    <label for="resultados_analisis">Resultados del Análisis (Ref.):</label>
                    <input type="text" id="resultados_analisis" name="resultados_analisis" value="<%= registro.resultados_analisis %>">
                </div>

                <div class="input-group"> <label for="fecha_proxima">Próximo Cambio Estimado:</label>
                    <input type="date" id="fecha_proxima" name="fecha_proxima" 
                        value="<%= registro.fecha_proxima ? registro.fecha_proxima.toISOString().split('T')[0] : '' %>">
                </div>
                
                <div class="acciones-form">
                    <button type="submit">Guardar Cambios</button>
                    <a href="/">Cancelar</a>
                </div>
                
            </form>
        </div>
    </div>
</body>

</html>